.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 0rem;
}
.profileImage {
}
.username div span {
  font-weight: 500 !important;
}

.commentTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.commentAndEditContainer {
  cursor: pointer;
  position: relative;
  background-color: rgb(218, 217, 217);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentAndEditContainer:hover {
  background-color: rgb(201, 199, 199);
  user-select: none;
}
.editAndDeleteContainer {
  position: absolute;
  top: -37px;
  left: 37px;
}
.toggleEditedComment {
  color: blue;
  cursor: pointer;
}
.toggleEditedComment:hover {
  text-decoration: underline;
}
.editCommentText {
  font-weight: 200;
}
.commentText {
  white-space: pre-wrap;
}

:is(.commentText, .oldComment) {
  font-weight: 300;
}
