.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.addCommentContainer {
  display: flex;
}
#addCommentForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}
#addCommentForm button {
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}
.addCommentContainer {
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}
.addCommentContainer textarea {
  resize: none;
  border-radius: 6px;
}
.addCommentContainer textarea {
  background-color: #ebf9ff;
}
.addCommentContainer button {
  background-color: #03a9f4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  position: absolute;
  right: 0;
  height: 100%;
}
.addCommentContainer button span {
  transform: rotate(318deg);
}
