.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.profileImage {
}
.username div span {
  font-weight: 500 !important;
}

.commentTextContainer {
  display: flex;
  flex-direction: row;
}
.commentAndEditContainer {
  cursor: pointer;
  position: relative;
}
.editAndDeleteContainer {
  position: absolute;
  top: -37px;
  left: 37px;
}

:is(.commentText, .oldComment) {
  font-weight: 300;
}
