.dateTimeContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.roundBall {
  width: 7px;
  height: 7px;
  background-color: darkgray;
  border-radius: 50%;
}
.dateTimeContainer :is(.date, .time) {
  font-weight: 300;
}
