.filterContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 2rem;
}
.leftItems {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.rightItems {
  display: flex;
  gap: 0.5rem;
}
