.noticesContainer {
  background-color: #f2f9fc;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: auto auto auto 1fr;
  gap: 1rem 0rem;
  height: 100vh;
}

.noticesContainer h1 {
  text-align: center;
  font-size: 2.125rem;
}
.loaderScreen {
  place-self: center;
}
/* filter container */
.noticesContainer h1 + div {
  grid-column: 1/-1;
}
:is(.noticesContainer h1, .toggleSection, .allNotices) {
  grid-column: 2/3;
}
.allNotices {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.noticesContainer a {
  color: unset;
  text-decoration: none;
}
